* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
        'header header'
        'sidebar gallery'
        'footer footer';
    position: relative;
}

header {
    grid-area: header;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: blue;
    margin-bottom: 20px;
}

header h2 {
    margin-left: 20px;
    color: whitesmoke;
}
main {
    width: 75%;
    margin: 0 auto;
}


#nav_list {
    grid-area: sidebar;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    margin: 10vh auto 0;
}

#nav_list ul {
    list-style-type: none;
    width: 100%;
    position: sticky;
    top: 10px;

}

#nav_list li {
    margin-bottom: 5px;
}

#nav_list a {
    text-decoration: none;
    display: block;
    background-color: blue;
    padding: 8px 20px;
    border-radius: 10px;
    color: whitesmoke;
    transition: all ease-in-out 200ms;
}
#nav_list a:hover {
    background-color: red;
    color: black;
}
section {
    grid-area: gallery;
    width: 75%;
}

footer {
    grid-area: footer;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: blue;
    margin-top: 10vh;
}
article h4 {
    font-size: 200%;
}
.caption {
    margin: 1em 20em 2em 0;
    padding-left: .5em;
    line-height: 1.5;
    border-left: 15px solid saddlebrown;
    
}
.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
    border: none;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;

}